.header {
    padding: 25px 0px;
    background: rgba($color: #000000, $alpha: 0.7);
    text-align: center;

    a {
        color: white;
        margin: 0;
    }
    position: fixed;
    width: 100%;
    z-index: 3;
}
