.hero {
    position: relative;
}
.hero .wrapper {
    height: 80vh;
    display: flex;
    align-items: flex-end;
    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}
.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.hero__content {
    h1 {
        font-size: typo(80px);
    }
}
