section {
    padding: 80px 0px;
}
h2 {
    padding: 0px;
    margin: 0px;
    font-family: var(--font-secondary);
    font-weight: 300;
    padding-bottom: 100px;
}
.reactif h2 {
    color: var(--color-black);
}
h3 {
    font-family: var(--font-secondary);
    font-size: typo(16px);
    font-weight: 600;
    text-transform: uppercase;
}
section.reactif {
    background-color: var(--color-primary);
}
.swiper-pagination-bullet {
    /* Other styles for your bullets */
    transform: rotate(45deg); /* Rotates the bullets by 45 degrees */
}
.swiper-pagination {
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-border-radius: 0px;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-bullet-horizontal-gap: 20px;
}
.swiper-slide a {
    color: var(--color-black);
    background-color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-style: typo(16px);
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 100px;
}
.swiper-slide {
    h3 {
        color: var(--color-black);
    }
    p {
        color: var(--color-black);
    }
}
