{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/berger_australien_tricolore.jpg" alt="berger australien tricolor noir" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'excercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media"><img src="assets/images/labo01.png" alt="" /></div>
                <div class="card__content">
                    <h3>Sem 01 - Laboratoire intro</h3>
                    <p>
                        Ce premier laboratoire est une récapitulaiton de ce nous avons fais
                        <span>et devrais avoir maitriser lors des cours de conceptions web I et II.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://jecote.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media"><img src="assets/images/labo02.png" alt="" /></div>
                <div class="card__content">
                    <h3>Sem 02 - TimTools</h3>
                    <p>
                        Le deuxieme laboratoire de conception web III est l'ajout d'un plug-in ce la
                        <span>technique qui est très utiles pour plusieurs choses et sauvent beaucoup de temps!</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://jecote.dectim.ca/cours/cw3/sem02/">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media"><img src="assets/images/labo03.png" alt="" /></div>
                <div class="card__content">
                    <h3>Sem 03 - Portfolio Louis Lajoie</h3>
                    <p>
                        Celui-ci est un simple laboratoire, mais avec l'ajout de SCSS. Le CSS devient
                        <span>complètement différent avec plusieurs nouvelle foncionnalitée intéressantes!</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://jecote.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media"><img src="assets/images/labo04.png" alt="" /></div>
                <div class="card__content">
                    <h3>Sem 04 - Icones et classes JS</h3>
                    <p>
                        Ce laboratoire est un grand récapitulatif de les cours de intro à la programmation. Du
                        <span>JavaScript à foisons et des élèves avec des troues béant de mémoire!</span>
                    </p>
                    <p class="tag">SCSS + JAVASCripts</p>
                    <a href="https://jecote.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reactif">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réacifs</span>
        </h2>
        <div class="swiper js-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media"><img src="assets/images/labo07.png" alt="" /></div>
                        <div class="card__content">
                            <h3>Sem 07 - Site réactif</h3>
                            <p>
                                Le laboratoire a pour objectif de faire une introduction au concept de mise en page réactive et aux media queries.
                                <span>Nous continuons à progresser dans le JavaScript avec la classe d'état global et les attributs data.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCripts</p>
                            <a href="https://jecote.dectim.ca/cours/cw3/sem07/">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media"><img src="assets/images/labo08.png" alt="" /></div>
                        <div class="card__content">
                            <h3>Sem 08 - CryptoQc</h3>
                            <p>
                                Le laboratoire a pour objectif de faire une introduction au concept de mise en page réactive et aux media queries.
                                <span>Nous continuons à progresser dans le JavaScript avec la classe d'état global et les attributs data.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCripts</p>
                            <a href="https://jecote.dectim.ca/cours/cw3/sem08/">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media"><img src="assets/images/labo09.png" alt="" /></div>
                        <div class="card__content">
                            <h3>Sem 09 - Site réactif</h3>
                            <p>
                                Le laboratoire a pour objectif de faire une introduction au concept de mise en page réactive et aux media queries.
                                <span>Nous continuons à progresser dans le JavaScript avec la classe d'état global et les attributs data.</span>
                            </p>
                            <p class="tag">SCSS + JAVASCripts</p>
                            <a href="https://jecote.dectim.ca/cours/cw3/sem09/">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
